{% extends "compras_publicas_transparentes/base.html" %}

{% block content %}
    <div>Número de dias registrados: {{ total }}</div>
    <div>Fecha inicial: <input type="text" id="fecha_ini"></div>
    <div id="calendar_ini"></div>
    <div id="result_list"></div>

    <script>
        $( function() {
            const dateFormat = "dd/mm/yy"
            $("#calendar_ini").datepicker({
                altField: "#fecha_ini",
                altFormat: dateFormat,
                dateFormat: dateFormat,
                }).on("change", function() {
                    console.log("get list for "+
                                $.datepicker.parseDate(
                                    dateFormat,this.value).getFullYear())
                    $.get("{% url 'mercadopublico_api:listempty' %}"+
                          $.datepicker.parseDate(dateFormat, this.value)
                              .getFullYear()+'/'+
                          ($.datepicker.parseDate(dateFormat, this.value)
                              .getMonth()+1)+'/'+
                          $.datepicker.parseDate(dateFormat, this.value)
                              .getDate(),
                        function(data) {
                            $("#result_list").html(data)
                        })
                })
        })
    </script>
{% endblock %}

{% comment %}
{% load static %}

{% if object_list %}
    <ul>
    {% for cp in object_list %}
        <li><a href="{% url 'mercadopublico_api:detail' cp.code %}">{{ cp.name }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No hay compras públicas disponibles.</p>
{% endif %}

{% endcomment %}
